pulumi_content: |-
  #!/bin/sh
  pulumi stack select dev
  pulumi config set aws:region us-west-1
  pulumi up --yes
  pulumi stack output kubeconfig --show-secrets >kubeconfig.json
  KUBECONFIG=./kubeconfig.json kubectl get nodes
  echo "kubeconfig--"
  pulumi stack output --json
  echo $KUBECONFIG 
pulumi_git_path: aws-go-eks
pulumi_uninstall: |-
  #!/bin/sh
  pulumi stack select dev
  pulumi refresh -y
  pulumi destroy --yes
  pulumi stack rm --yes
build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    pulumi config set aws:region us-west-1
    pulumi up --yes
    pulumi stack output --json
    curl $(pulumi stack output url)

test: []
uninstall:
  type: text
  content: |-
    #!/bin/sh

    pulumi destroy
    pulumi stack rm
dockerCompose: ''
lastUpdatedBy: Yash Upadhyay
lastUpdatedOn: 2023-02-23T07:28:49.105Z
