pulumi_content: |-
  #!/bin/sh

  pulumi stack select dev
  pulumi refresh -y
  pulumi destroy --yes
  pulumi stack rm --force
pulumi_git_path: aws-go-fargate
pulumi_uninstall: |-
  #!/bin/sh

  pulumi stack select dev
  pulumi refresh -y
  pulumi destroy --yes
  pulumi stack rm --yes
lastUpdatedBy: Yash Upadhyay
lastUpdatedOn: 2023-02-27T06:44:15.943Z
