pulumi_content: |-
  #!/bin/sh
  pulumi stack select dev
  pulumi config set aws:region ap-south-1
  pulumi up --yes
  pulumi stack output --json
  curl $(pulumi stack output url)
pulumi_git_path: aws-go-fargate
pulumi_uninstall: |-
  #!/bin/sh
  pulumi stack select dev
  pulumi refresh -y
  pulumi destroy --yes
  pulumi stack rm --yes
lastUpdatedBy: Yash Upadhyay
lastUpdatedOn: 2023-01-26T22:11:00.135Z
